* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  background-size: cover;
}

html {
  height: 100%;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  text-align: center;
  color: white;
  margin-left: 1em;
}

h2 {
  text-align: center;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  margin-top: 1em;
  border-style: groove;
  padding: 0.5em;
  border-radius: 4%;
}

.product-item-name {
  font-size: 15px;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h5 {
  text-align: right;
  color: white;
  margin: 1em;
}

label, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.product-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-image: url('https://s3.eu-west-2.amazonaws.com/zimaproducts/russianwintersnow.jpg');
  height: 100%;
  background-repeat: repeat;
  margin-top: -1em;
}

#theme-header {
  margin-top: 2em;
}

.theme, .signInFormPage, #create_account, .orderHistoryPage, .comingSoonPage {
  background-image: url('https://s3.eu-west-2.amazonaws.com/zimaproducts/russianwintersnow.jpg');
  background-size: cover;
  height: 100vh;
}

.theme {
  overflow-x: hidden;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
  align-content: center;
  margin-top: 1em;
}

.product-item {
  padding: 1em;
  border-style: groove;
  border-width: 0.1em;
  width: 220px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
}

.product-item img {
  width: 80%;
  margin: 5% 10%;
}

.product-item h3 {
  text-align: center;
  font-size: 14px;
}

.product-text h3 {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 1em;
}

.product-item button {
  font-size: 1em;
  padding: 0.4em;
  border-radius: 5%;
  margin: 0.4em;
}

.theme_container {
  position: relative;
  width: 96%;
  margin: 0 auto;
}

#visa-logo {
  color: navy;
  width: 10%;
  margin: 0.5em;
}

#mastercard-logo {
  color: red;
  width: 10%;
  margin: 0.5em;
}

#amex-logo {
  color: blue;
  width: 10%;
  margin: 0.5em;
}

.shopping-cart {
  width: 70%;
  margin: 0 auto;
  border-style: solid;
  border-width: 0.1em;
  border-style: groove;
  padding: 0.5em;
}

.cart_button {
  font-size: 1em;
  padding: 0.3em;
  border-radius: 4%;
}

.remove_button {
  font-size: 0.7em;
  padding: 0.4em;
  margin: 0.3em;
  border-radius: 5%;
}

h3#shopping-cart-total {
  color: green;
  font-weight: bold;
  text-align: right;
}

h3#shopping-cart-header {
  text-align: center;
}

.name a,
.main_nav a {
  padding: 0.5em;
  display: block;
}


.name, .main_nav li {
  text-align: center;
  background-color: black;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  display: inline-block;
}

.main_header {
  background-color: #000000;
  padding: 0.2em;
  z-index: 3;
  width: 100%;
}

.order-details {
  border-style: groove;
  padding: 1em;
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
}

.order-item-details {
  padding: 0.5em;
}

.order-item-info {
  float: right;
  width: 50%;
  padding: 1em;
  line-height: 2em;
}

.order-history-image {
  height: 150px;
}

.main_content {
  width: 100%;
  min-height: 400px;
  max-height: 1400px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  background-image: url(https://s3.eu-west-2.amazonaws.com/zimaproducts/russianwintersnow.jpg);
  background-size: cover;
}

.main_footer {
  text-align: center;
  padding: 2em 0;
  background: #000000;
  margin-top: 1em;
  height: 40px;
  box-sizing: content-box;
}

.main_nav a {
  font-size: .95em;
  color: #3acec2;
}

.main_nav a:hover {
  color: white;
  text-transform: uppercase;
}

.main_nav {
  display: inline;
  margin-bottom: 1em;
  margin-left: 1em;
}

.header_container {
  padding-top: 0.5em;
}

.theme_icon {
  width: 180px;
  position: relative;
  margin: 0.5em;
}

.theme_icon img {
  width: 100%;
  margin: 0;
}


.image {
  display: block;
  width: 180px;
  height: 180px;
  margin: 2%;
}

.overlay_type_1 {
  position: absolute;
  top: -1;
  bottom: 0;
  left: 0;
  right: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  border-radius: 4%;
  margin: 0;
}

.overlay_type_2 {
  position: absolute;
  top: -1;
  bottom: 0;
  left: 0;
  right: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  border-radius: 4%;
  margin: 0;
}

.product_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  margin: 0;
}

 .product-item:hover .product_overlay {
   opacity: 1;
 }

.theme_icon:hover .overlay_type_1 {
  opacity: 1;
}

.theme_icon:hover .overlay_type_2 {
  opacity: 1;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.product-text {
  color: white;
  font-size: 14px;
  position: relative;
  width: 90%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.5em;
}



.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  font-size: 5em;
  border: 10px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 400px;
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.bg-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-page-div {
   height: 1000px;
}


#img1 {
  background-image: url("https://s3.eu-west-2.amazonaws.com/zimaproducts/categoryicons/forest1280.jpg");
  height: 100%;
}

#img2 {
  /* background-image: url('https://s3.eu-west-2.amazonaws.com/zimaproducts/categoryicons/architecture2.jpg'); */
}
#img3 {
  /* background-image: url("https://s3.eu-west-2.amazonaws.com/zimaproducts/categoryicons/architecture1.jpg"); */
}
#img4 {
  /* background-image: url("https://s3.eu-west-2.amazonaws.com/zimaproducts/categoryicons/kremlin.jpg"); */
}

.homeImage {
  height: 100%;
  width: 100%;
}

.category_eng {
  font-family: 'Roboto', sans-serif;
}

.category_rus {
  font-family: 'Roboto', sans-serif;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  margin-top: 3em;
  margin-bottom: 0;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  margin-bottom: 5%;
}

.col-25 p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Roboto', sans-serif;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.checkout_container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 2em;
  width: 50%;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

label {
  margin-bottom: 10px;
  display: inline-block;
}

.checkout-icon-container {
  margin-bottom: 0;
  padding: 0;
  font-size: 3em;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  position: relative;
  width: 30%;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin: 0.1em;
 }

.btn:hover {
  background-color: #45a049;
}

.responsive {
  width: 100%;
  height: auto;
}

span.price {
  float: right;
  color: grey;
}

#count {
  width: 15%;
  font-size: 0.9em;
  margin-right: 0.5em;
  padding: 0.4em;
  text-align: center;
}

#plus {
  font-size: 1em;
  width: 5%;
}

#minus {
  font-size: 1em;
  width: 5%;
  margin: 0.2em;
}

#quantityLabel {
  font-size: 0.9em;
  margin-right: 0.5em;
  margin-top: 1em;
}

#quantityInput {
  font-size: 0.8em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 10%;
}

.centre_text {
  font-size: 5em;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.centre_text_rus {
  font-size: 5em;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%)
}

#icons_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  justify-items: left;
  padding: 0.5em;
  margin: 0.1em;
}

.aboutPage {
  background-image: url('https://s3.eu-west-2.amazonaws.com/zimaproducts/russianwintersnow.jpg');
  background-size: cover;
  height: 100vh;
}

#about_header {
  border-style: groove;
  color: black;
  border-radius: 4%;
  position: relative;
  width: 40%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 1.5em;
  padding: 0.4em;
  position: relative;
  background-color: white;
  font-size: 2em;
}

#about_summary {
  color: black;
  border-style: groove;
  position: relative;
  border-radius: 2%;
  width: 60%;
  margin: 0 auto;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white;
}

#very_large_header {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color: black;
  border-style: groove;
  border-radius: 4%;
  padding: 1em;
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
  background-color: white;
}

.signin_form {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
  padding: 2em;
  font-size: 1em;
  border-style: groove;
  position: relative;
  background-color: white;
}

#create_account_header {
  margin-top: 2em;
  font-size: 20px;
  width: 40%;
}

#emailInput, #passwordInput {
  margin: 1em;
  margin-bottom: 2em;
  padding: 0.5em;
  width: 96%;
  position: relative;
  text-align: center;
}

#login_button {
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-color: #00FF7F;
}

#password-label, #email-label {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 0.3em;
  font-size: 1.2em;
}

#create_account_form {
  width: 40%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-style: groove;
  text-align: center;
  background-color: white;
}

#firstNameInput, #lastNameInput, #emailInputCreateAccount, #PasswordCreateAccount {
  text-align: center;
  padding: 1em;
  margin-bottom: 1.5em;
}

#emailInputCreateAccount, #PasswordCreateAccount {
  width: 98%;
}

#create_account_btn {
  font-size: 1em;
  padding: 0.8em;
  border-radius: 5%;
  background-color: #00FF7F;
}

#order-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  position: relative;
  border-style: groove;
  margin-top: 4em;
  margin-bottom: 2em;
  padding: 1.5em;
  background-color: white;
}

#payment_container {
  width: 100%;
  margin-top: 0;
}

#payment_form {
  width: 100%;
  margin: 0 auto;
}

.CC-payment {
  width: 60%;
  margin: 0 auto;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  padding: 5px 20px 15px 20px;
  line-height: 2em;
  border: 1px solid lightgrey;
  border-radius: 6px;
  background-color: #f2f2f2;
  margin-bottom: 2em;
}

.CC-payment input {
  font-size: 1em;
}

.CC-payment p {
  font-size: 1.2em;
}

.payment_details {
  padding: 5px 20px 0px 20px;
  font-size: 1em;
  line-height: 3em;
}

.payment_details input {

}

.payment-confirmation {
  font-size: 1em;
  padding: 1em;
  border-radius: 5%;
  width: 100%;
}

.CC-payment button {
  font-size: 1em;
  padding: 0.2em;
  border-radius: 5%;
  width: 100%;
}


/* // Side Nav Bar */

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-right: 2em;
  padding-top: 4em;
  transition: 0.5s;
}

.CardField-number .CardField-number-fakeNumber, .CardField-number input {
  font-size: 1.2em;
}

.ElementsApp input {
  font-size: 1em;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 1.2em;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  padding: 1em;
  font-weight: bold;
  color: white;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media (min-width: 769px) {

  .main_content {
    width: 100%;
    margin: 0 auto;
  }

  .name,
  .main_nav,
  .main_nav li {
    display: inline-block;
  }

  .row {
   flex-direction: column-reverse;
 }
 .col-25 {
   margin-bottom: 0;
   margin-top: 1.5em;
 }

}
 @media only screen and (max-device-width: 480px) {
  .main_nav a {
    font-size: 14px;
    padding: 0px 5px;
    display: inline-block;
  }
  .name {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 0;
  }

  #very_large_header {
    width: 70%;
    font-size: 22px;
    margin-top: 100px;
  }

  #create_account_header, #login-header, #theme-header {
    font-size: 16px;
    width: 70%;
  }
  #create_account_header {
    margin-top: 0.5em;
  }
  .product-text h3 {
    font-size: 10px;
  }
  label, #email-label, #password-label {
    font-size: 14px;
    margin-top: 0;
  }
  .bg-text {
    width: 160px;
    font-size: 30px;
  }

  .sidenav {
    padding-right: 5em;
  }
  #create_account_btn {
    font-size: 12px;
  }
  #about_header {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
    font-size: 20px;
  }
  #about_summary {
    width: 80%;
    padding: 1em;
    font-size: 14px;
  }

  #theme-header {
    margin-top: 1em;
    font-size: 16px;
  }
  .theme_icon {
    width: 80px;
  }
  .image {
    width: 80px;
    height: 80px;
  }
  .text {
    font-size: 10px;
  }
  .product-item {
    width: 120px;
    padding: 0.5em;
  }
  .product-item img {
    width: 90%;
    margin: 5% 5%;
  }
  .product-item h3 {
    font-size: 12px;
  }
  .main_content {
    min-height: 0;
  }

  .checkout_container {
    width: 80%;
  }

  #shopping-cart-header {
    font-size: 14px;
  }

  h3.category_eng, #shopping-cart-total, .cart_button {
    font-size: 12px;
    line-height: 12px;
  }

  .product-text h3 {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 0;
    font-weight: normal;
    }
    .product-item button {
        font-size: 10px;
        padding: 0.2em;
        border-radius: 5%;
        margin: 0.2em;
    }
    h3#shopping-cart-total {
    font-weight: bold;
    text-align: left;
    }
  .remove_button {
    font-size: 12px;
    padding: 0.4em;
    margin: 0.5em;
    border-radius: 5%;
    }

  #create_account_form {
    width: 70%;
  }

  .signin_form {
    width: 70%;
 }

 #img1 {
   background-image: url("https://s3.eu-west-2.amazonaws.com/zimaproducts/categoryicons/forest800.jpg");
   height: 100vh;
 }

 #img2 {
   background-image: url("https://s3.eu-west-2.amazonaws.com/zimaproducts/categoryicons/architecture2-800.jpg");
    height: 100vh;
 }

 #img3 {
   background-image: url("https://s3.eu-west-2.amazonaws.com/zimaproducts/categoryicons/architecture1-800.jpg");
    height: 100vh;
 }

 #img4 {
   background-image: url("https://s3.eu-west-2.amazonaws.com/zimaproducts/categoryicons/kremlin-800.jpg");
    height: 100vh;
 }

}
